@import url("fonts/FiraCode/fira_code.css");

:root {
  --highlight: #7981fe;
  --error: #ff2f91;
  --green1: #00fa91;
  --green2: #00e8a6;
  --eb-brand: #d4fb7a;
  --gray1: #161616;
  --gray2: #262626;
  --gray3: #363636;
  --gray4: #464646;
  --gray15: #e6e6e6;
}

/* Global styles */
* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--gray1);
	margin: 0;
	height: 100%;
	width: 100%;
	color: var(--gray15);
	font-size: calc(1rem + 0.5vw);
}

header {
	background-color: var(--gray1);
	color: var(--gray15);
	padding: 1rem;
}

input, select, textarea {
    color: var(--gray15);
}

textarea:focus, input:focus {
    color: var(--gray15);
}

main {
	margin: 0 auto;
	padding: 2rem;
}

 /* unvisited link */
a:link {
  color: var(--highlight);
}

/* visited link */
a:visited {
  color: var(--highlight);
}

h1 {
	font-size: calc(2rem + 0.5vw);
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
  color: var(--highlight);
}

h2 {
	font-size: calc(1.5rem + 0.5vw);
	margin-top: 1rem;
	margin-bottom: 1rem;
  color: var(--highlight);
}

h3 {
	margin-top: 1rem;
	margin-bottom: 1rem;
  color: var(--highlight);
}

img {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

p {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

footer {
	text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.brand {
	font-family: "Fira Code";
	font-style: italic;
	color: var(--gray15)
}

.brand-suffix {
  color: var(--highlight);
	font-family: "Fira Code";
	font-style: italic;
}

.brand-eb {
	color: var(--eb-brand);
	font-family: "Fira Code";
	font-style: italic;
}

.brand a:link {
  color: var(--gray15);
}

/* visited link */
.brand a:visited {
  color: var(--gray15);
}

.header-content {
	margin-top: 2rem;
	text-align: center;
	font-size: calc(4rem + 0.5vw);
}

.footer-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
	margin-top: 50px;
	margin-left: max(50px, 25%);
	margin-right: max(50px, 25%);
	margin-bottom: 50px;
	font-size: calc(0.75rem + 0.5vw);
}

.footer-link {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.section {
	margin-top: 2rem;
}

.section li {
	margin-bottom: 1rem;
}

.signup {
	margin-top: 2rem;
	margin-bottom: 1rem;
	display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.signup-error {
  color: var(--error);
	font-size: calc(0.75rem + 0.5vw);
	text-align: center;
}

.signup-message {
  color: var(--highlight);
	font-size: calc(0.75rem + 0.5vw);
}

.slidecontainer {
  width: 100%;
	margin-top: 1rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: var(--gray4);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: var(--green1);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: var(--green1);
  cursor: pointer;
}

.styled-input {
    background-color: var(--gray4);
    border: none;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
}

.form-layout {
	display: flex;
	flex-direction: column;
}

.cta-button img {
  vertical-align: middle;
  margin-right: 10px; 
}

.cta-button span {
    display: inline-block; /* Ensure the text is inline */
    vertical-align: middle;
}

.cta-button {
	display: block;
	width: 50%;
	background-color: var(--green1);
	color: var(--gray2);
	padding: 1rem 2rem;
	border-radius: 1rem;
	border: none;
	margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
	text-decoration: none;
	text-align: center;
}

.cta-button:link {
	color: var(--gray2);
}

.cta-button:visited {
	color: var(--gray2);
}

.cta-button:disabled {
	background-color: var(--gray4);
}

.cta-button:hover {
	background-color: var(--green2);
}


/* nav menu follows */

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray3);
  height: 50px;
  padding: 1rem;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > a {
  margin: 0 1rem;
  overflow: hidden;
  text-decoration: none;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--gray15);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-45deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu a {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu a {
    border: 1px solid var(--gray3);
    height: 2.5em;
    padding: 0.5em;
    transition: height 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background-color: var(--gray2);
    text-decoration: none;
  }
}
