<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="navbar">
      <!-- <a href="blog.html">Blog</a> -->
      <a href="index.html">Home</a>
      <a href="blog.html">Blog</a>
      <a href="features.html">Features</a>
      <a href="pricing.html">Pricing</a>
    </div>

    <header>
      <div class="header-content">
        <span class="brand">Fit<span class="brand-suffix">Edit</span></span>
      </div>
    </header>

     {{ content }}

    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
