<script src="/assets/js/signup.js"></script>

<section class="section">
<h2>Join the email list!</h2>

<p>You'll get useful content about training data and updates about FitEdit.</p>
<p>We take your privacy <a href="/privacy.html">seriously</a>.</p>

<form class="signup" id="signupForm" method="POST" action="/">
<label for="email">Email:</label>
<input type="email" class="styled-input" id="email" name="email" required>

<br/>
<input style="display: none;" type="text" id="hp" name="hp">
<input class="cta-button" style="width: 100%;" id="submitButton" type="submit" value="Submit">

<label class="signup-error" id="signupErrorLabel" style="display: none;"></label>

</form>
</section>
