<br>
<a href="http://www.endurabyte.com/" style="text-decoration:none"><span class="brand-eb">Endura<span class="brand-suffix">Byte</span></span></a> LLC &copy; 2023
<br>
4015 Travis Drive Suite 211 #777<br>
Nashville, TN 37211<br>
USA

<div class="footer-links">
  <a href="/support.html" class="footer-link">Support</a>
  <a href="/refunds.html" class="footer-link">Refunds</a>
  <a href="/privacy.html" class="footer-link">Privacy Policy</a>
  <a href="/terms.html" class="footer-link">Terms of Use</a>
  <a href="/blog.html" class="footer-link">Blog</a>
  <a href="/about.html" class="footer-link">About</a>
  <a href="https://github.com/endurabyte/FitEdit" class="footer-link" target="_blank">Source Code</a>
</div>
