<section class="top-nav">
  <div>
    <span class="brand"><a href="/" style="all: unset;">F</a></span><span class="brand brand-suffix"><a href="/" style="all: unset;">E</a></span>
  </div>
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
  <ul class="menu">
    <a href="/index.html">Home</a>
    <a href="/screenshots.html">Screenshots</a>
    <a href="/features.html">Features</a>
  </ul>
</section>
